<footer>
  <div class="container">
    <div class="row">
      <div class="full-width">
        <ul>
          {% for page in site.pages %}
          <li><a href="{{ base }}{{page.url}}">{{page.title}}</a></li>
          {% endfor %}
        </ul>
        <p class="copyright">© 2015 J.J. McCullough</p>
      </div>
    </div>
    <div class="row">
      <div class="full-width">
        <p class="credit"><a href="http://taylorscollon.com">Web design by Taylor Scollon</a></p>
      </div>
    </div>
  </div>
</footer>